@import '~antd/dist/antd.css';

.select {
  width: 145px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.ant-tabs-extra-content {
  width: 240px;
}
.ant-select-arrow {
  color: #f65261;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: transparent;
  border: none;
}
.ant-select-focuced:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: none !important;
  border-color: transparent;
}
