.container {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.card {
  cursor: pointer;
}

.result {
  padding: 12px 0;
  color: #ffffff;
  font-size: 20px;
}
